.login-form{
    width: 300px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
}

input[type=text]{
    width: 100%;
    padding: 15px;
    background-color: #fafafa;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 5px;
    font-size: medium;
}

input[type="submit"]{
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
	background-image: linear-gradient(top,#5654e6,#3928cf);
	color: #333;
	
	cursor: pointer;
	font-size: medium;
	text-align: center;
	height: 40px;
	padding: 0 8px;
    text-decoration: none;
}

b{
    font-size: medium;
}
