.header {
    height: 10vh;
    padding: 3vh;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playerContainer, .adminContainer, .currentPlayerContainer {
    width: 20%;
    height: 65vh;
    border-style: inset;
    border-radius: 10px;
}

.adminContainer {
    border-color: gold;
}

.currentPlayerContainer {
    border-color: lightseagreen;
}

.center-text {
    text-align: center;
}

h2 {
    text-decoration: underline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}